<%- include('partial/head') %>

<body>
  <%- include('partial/navbar') %>
  <h1>HOMEPAGE <%=1+2%>
  </h1>
  <h2>
    <%='hello world'.toUpperCase()%>
  </h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate praesentium neque aspernatur suscipit hic.
    Doloremque voluptates, iste, nobis architecto dignissimos minus explicabo fugit expedita sequi aliquam veniam maxime
    dicta natus.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate praesentium neque aspernatur suscipit hic.
    Doloremque voluptates, iste, nobis architecto dignissimos minus explicabo fugit expedita sequi aliquam veniam maxime
    dicta natus.</p>

</body>

</html>