<%- include('partial/head') %>

<body>
  <%- include('partial/navbar') %>
  <h1>Your random number: <%= randNum %>
  </h1>
  <!--OPTION 1-->
  <%if (randNum % 2==0) { %>
    <h2>This is even number</h2>
    <% } else { %>
      <h2>This is odd number</h2>
      <% } %>

        <!--OPTION 2-->
        <h3>
          <%= randNum%2===0 ? 'EVEN NUMBER' : 'ODD NUMBER' %>
        </h3>





</body>

</html>